In [1]:
!pip install efficient-apriori

Requirement already satisfied: efficient-apriori in c:\users\lenovo\anaconda3\lib\site-packages (2.0.3)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\lenovo\anaconda3\lib\site-packages)

In [2]:
from efficient_apriori import apriori
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\lenovo\\Downloads\\1000i.csv")

In [4]:
df

         1  3   7
0        1  4  15
1        1  2  49
2        1  5  44
3        2  1   1
4        2  2  19
...    ... ..  ..
3532   999  5  35
3533   999  2   3
3534  1000  4  15
3535  1000  3  47
3536  1000  3  34

[3537 rows x 3 columns]

In [5]:
df.columns=['reciept no','food code','quantity']
df

      reciept no  food code  quantity
0              1          4        15
1              1          2        49
2              1          5        44
3              2          1         1
4              2          2        19
...          ...        ...       ...
3532         999          5        35
3533         999          2         3
3534        1000          4        15
3535        1000          3        47
3536        1000          3        34

[3537 rows x 3 columns]

In [6]:
df['food code'] = df['food code'].replace({1:"milk",2:"sugar",3:"chocolate",4:"apples",5:"curd"})

In [7]:
df

      reciept no  food code  quantity
0              1     apples        15
1              1      sugar        49
2              1       curd        44
3              2       milk         1
4              2      sugar        19
...          ...        ...       ...
3532         999       curd        35
3533         999      sugar         3
3534        1000     apples        15
3535        1000  chocolate        47
3536        1000  chocolate        34

[3537 rows x 3 columns]

In [8]:
df_trans = df.groupby("reciept no")["food code"].apply(list)
df_trans

reciept no
1                                   [apples, sugar, curd]
2                                           [milk, sugar]
3                                            [milk, milk]
4                    [milk, milk, curd, curd, milk, milk]
5                     [apples, apples, sugar, curd, curd]
                              ...
996     [chocolate, sugar, chocolate, curd, chocolate,...
997                      [chocolate, curd, apples, sugar]
998                 [milk, chocolate, curd, apples, curd]
999                                  [sugar, curd, sugar]
1000                       [apples, chocolate, chocolate]
Name: food code, Length: 1000, dtype: object

In [16]:
itemsets, rules= apriori(df_trans, min_support=0.25 ,min_confidence=0.25)

In [17]:
itemsets

{1: {('apples',): 540,
  ('sugar',): 498,
  ('curd',): 493,
  ('milk',): 542,
  ('chocolate',): 506},
 2: {('apples', 'chocolate'): 250,
  ('apples', 'curd'): 264,
  ('apples', 'milk'): 271,
  ('apples', 'sugar'): 258,
  ('chocolate', 'milk'): 251,
  ('milk', 'sugar'): 254}}

In [18]:
rules

[{chocolate} -> {apples},
 {apples} -> {chocolate},
 {curd} -> {apples},
 {apples} -> {curd},
 {milk} -> {apples},
 {apples} -> {milk},
 {sugar} -> {apples},
 {apples} -> {sugar},
 {milk} -> {chocolate},
 {chocolate} -> {milk},
 {sugar} -> {milk},
 {milk} -> {sugar}]

In [23]:
itemsets, rules= apriori(df_trans, min_support=0.16 ,min_confidence=0.16)

In [24]:
itemsets

{1: {('apples',): 540,
  ('sugar',): 498,
  ('curd',): 493,
  ('milk',): 542,
  ('chocolate',): 506},
 2: {('apples', 'chocolate'): 250,
  ('apples', 'curd'): 264,
  ('apples', 'milk'): 271,
  ('apples', 'sugar'): 258,
  ('chocolate', 'curd'): 231,
  ('chocolate', 'milk'): 251,
  ('chocolate', 'sugar'): 239,
  ('curd', 'milk'): 240,
  ('curd', 'sugar'): 230,
  ('milk', 'sugar'): 254}}

In [25]:
rules

[{chocolate} -> {apples},
 {apples} -> {chocolate},
 {curd} -> {apples},
 {apples} -> {curd},
 {milk} -> {apples},
 {apples} -> {milk},
 {sugar} -> {apples},
 {apples} -> {sugar},
 {curd} -> {chocolate},
 {chocolate} -> {curd},
 {milk} -> {chocolate},
 {chocolate} -> {milk},
 {sugar} -> {chocolate},
 {chocolate} -> {sugar},
 {milk} -> {curd},
 {curd} -> {milk},
 {sugar} -> {curd},
 {curd} -> {sugar},
 {sugar} -> {milk},
 {milk} -> {sugar}]